body {
  font-family: "Mona Sans", sans-serif;
}
.weather-app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 20px;
}
h1 {
  text-align: center;
  font-size: 28px;
}
.search-form {
  max-width: 60%;
  margin: 0 auto 10px;
}
.search-form-input,
.search-form-button {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.search-form-input {
  width: 72%;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
}
.search-form-button {
  transition: ease-in-out 300ms;
}
.search-form-button:hover {
  cursor: pointer;
}
.weather-details {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 20px 10px;
  line-height: 24px;
}
.location-details {
  font-size: 20px;
  font-weight: 600;
  max-width: 300px;
}
.current-temp-icon {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-right: 10px;
}
.current-temp-value {
  position: relative;
  top: -20px;
  left: -10px;
  font-size: 60px;
  line-height: 70px;
}
.current-temp-unit {
  position: relative;
  top: -54px;
  left: -10px;
  font-weight: 550;
}
.additional-weather-details {
  margin-top: 25px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #818181;
}
p {
  font-size: 14px;
  text-align: center;
  color: #818181;
  font-weight: 500;
  padding-bottom: 15px;
}
.forecast-weather-container {
  margin: 25px auto;
  display: flex;
  justify-content: space-around;
}
.forecast-weather-day {
  text-align: center;
  color: #818181;
  font-weight: 500;
  padding: 0 3px;
}
.forecast-weather-day-name {
  font-size: 15px;
  margin-bottom: 10px;
}
.forecast-weather-icon {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}
.forecast-weather-temperatures {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
.forecast-weather-temperature-high {
  font-weight: bold;
}
.themes {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  font-size: 13px;
  text-align: center;
}
.themes a {
  text-decoration: none;
}
.theme-button {
  display: block;
  margin: 10px auto 0;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 13px;
  border: none;
  transition: ease-in-out 350ms;
}
.theme-button:hover {
  cursor: pointer;
}
footer {
  text-align: center;
  margin: 20px;
  font-size: 13px;
}
footer a {
  transition: font-size 800ms;
}
footer a:hover {
  font-size: 13.2px;
  cursor: pointer;
  font-weight: 500;
}


body#home-page-minimal {
  background-color: rgba(211, 211, 211, 0.62);
}
#home-page-minimal .weather-app-container {
  background-color: azure;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
#home-page-minimal h1 {
  color: rgb(15, 15, 15);
}
#home-page-minimal .search-form-input {
  background-color: #dadadace;
}
#home-page-minimal .search-form-button {
  color: #f0ffff;
  background-color: black;
}
#home-page-minimal .search-form-button:hover {
  background-color: rgba(0, 0, 0, 0.937);
}
#home-page-minimal main {
  border-top: 2px solid #dee1e1;
  border-bottom: 2px solid #dee1e1;
}
#home-page-minimal #day-and-time {
  color: #808080b7;
}
#home-page-minimal .current-temp-icon {
  background-color: #d6d6d6c7;
}
#home-page-minimal p {
  border-bottom: 2px solid #dee1e1;
}
#home-page-minimal .forecast-weather-day {
  border-right: 2px solid #dee1e1;
  border-left: 2px solid #dee1e1;
}
#home-page-minimal .forecast-weather-icon {
  background-color: #d6d6d6c7;
}
#home-page-minimal .themes {
  color: rgba(58, 56, 56, 0.808);
  border-top: 2px solid #dee1e1;
}
#home-page-minimal .theme-button {
  box-shadow: 5px 5px 5px #c0bec0;
}
#home-page-minimal .dark-button {
  color: #8c8c8c;
  background-color: #111111;
}
#home-page-minimal .dark-button:hover {
  background-color: rgba(160, 160, 160, 0.937);
  color: black;
}
#home-page-minimal footer {
  color: rgba(58, 56, 56, 0.808);
}
#home-page-minimal footer a {
  color: rgba(0, 0, 0, 0.957);
}


body#dark-theme {
  background-color: #000000f9;
}
#dark-theme .weather-app-container {
  color: #8c8c8c;
  background-color: #111111f9;
}
#dark-theme .search-form-input {
  background-color: #00000091;
}
#dark-theme .search-form-button {
  color: #8c8c8c;
  background-color: #00000091;
}
#dark-theme .search-form-button:hover {
  background-color: rgba(35, 35, 35, 0.836);
}
#dark-theme main {
  border-top: 2px solid #0c0c0c;
  border-bottom: 2px solid #0c0c0c;
}
#dark-theme p {
  border-bottom: 2px solid #0c0c0c;
}
#dark-theme .forecast-weather-day {
  border-left: 2px solid #0c0c0c;
  border-right: 2px solid #0c0c0c;
}
#dark-theme .themes {
  border-top: 2px solid #0c0c0c;
  color: #818181;
}
#dark-theme .theme-button {
  box-shadow: 5px 5px 5px #000000;
}
#dark-theme .minimal-button {
  background-color: #cbcaca;
}
#dark-theme .minimal-button:hover {
  background-color: #00000091;
  color: #cbcaca;
}
#dark-theme footer {
  color: #767676;
}
#dark-theme footer a {
  color: #a1a1a1;
}