:root {
  --minimal-bg-color: #f1f1f1;
  --minimal-primary-text: rgb(15, 15, 15);
  --minimal-muted-text: #818181
}
body {
  font-family: "Mona Sans", sans-serif;
}
.weather-app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 20px;
}
h1,
.user-greeting {
  text-align: center;
}
h1 {
  font-size: 28px;
  margin-bottom: 5px;
}
.user-greeting {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}
.search-form {
  max-width: 60%;
  margin: 0 auto 10px;
}
.search-form-input,
.search-form-button {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}
.search-form-input {
  width: 72%;
  margin: 0 2px;
  outline: 1px solid #a7a7a739;
}
.search-form-button {
  transition: ease-in-out 300ms;
}
.search-form-button:hover {
  cursor: pointer;
}
.weather-details {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  line-height: 24px;
}
.location-details {
  font-size: 20px;
  font-weight: 600;
  max-width: 300px;
}
.current-temp-icon {
  width: 80px;
  border-radius: 50px;
}
.current-temp-value,
.current-temp-unit {
  position: relative;
}
.current-temp-value {
  top: -20px;
  font-size: 60px;
  line-height: 70px;
}
.current-temp-unit,
.high-low,
.additional-weather-details,
p {
  font-weight: 500;
}
.current-temp-unit {
  top: -54px;
}
.high-low,
p {
  font-size: 14px;
}
.high-low {
  font-style: italic;
}
.additional-weather-details {
  margin-top: 25px;
  padding-right: 10px;
  font-size: 15px;
}
p {
  text-align: center;
  padding-bottom: 15px;
}
.forecast-weather-container,
.forecast-weather-temperatures {
  display: flex;
  justify-content: space-around;
}
.forecast-weather-container {
  margin: 25px auto;
}
.forecast-weather-day {
  text-align: center;
  font-weight: 500;
  padding: 0 20px;
}
.forecast-weather-day-name {
  font-size: 15px;
  margin-bottom: 10px;
}
.forecast-weather-icon {
  width: 65px;
  border-radius: 50px;
}
.forecast-weather-temperatures {
  margin: 10px auto;
}
.forecast-weather-temperature-high {
  font-weight: bold;
}
.themes,
.theme-button,
footer {
  font-size: 13px;
}
.themes {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  text-align: center;
}
.themes a {
  text-decoration: none;
}
.theme-button {
  display: block;
  width: 30%;
  margin: 10px auto 0;
  padding: 4px 7px;
  border-radius: 10px;
  border: none;
  transition: ease-in-out 350ms;
}
.theme-button:hover {
  cursor: pointer;
}
footer {
  text-align: center;
  margin: 20px auto;
  padding: 0 30px;
}
footer a {
  transition: all ease-in-out 800ms;
}
footer a:hover {
  font-size: 13.2px;
  cursor: pointer;
  font-weight: 500;
}

body#home-page-minimal,
#home-page-minimal .search-form-input {
  background-color: var(--minimal-bg-color);
}
#home-page-minimal .weather-app-container {
  background-color: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: var(--minimal-muted-text);
}
#home-page-minimal h1,
#home-page-minimal .location-details,
#home-page-minimal .current-temp-value,
#home-page-minimal .current-temp-unit {
  color: var(--minimal-primary-text);
}
#home-page-minimal .search-form-button {
  color: #f0ffff;
  background-color: black;
}
#home-page-minimal .search-form-button:hover {
  background-color: rgba(0, 0, 0, 0.937);
}
#home-page-minimal main {
  border-top: 2px solid var(--minimal-bg-color);
  border-bottom: 2px solid var(--minimal-bg-color);
}
#home-page-minimal #date {
  opacity: 0.9;
}
#home-page-minimal .current-temp-icon {
  margin-right: 10px;
  background-color: var(--minimal-bg-color);
}
#home-page-minimal .high-low {
  margin-top: 5px;
}
#home-page-minimal p {
  border-bottom: 2px solid var(--minimal-bg-color);
}
#home-page-minimal .forecast-weather-day {
  border-right: 2px solid var(--minimal-bg-color);
  border-left: 2px solid var(--minimal-bg-color);
}
#home-page-minimal .forecast-weather-icon {
  background-color: var(--minimal-bg-color);
}
#home-page-minimal .themes {
  border-top: 2px solid var(--minimal-bg-color);
}
#home-page-minimal .theme-button {
  box-shadow: 5px 5px 5px #c0bec0;
}
#home-page-minimal .dark-button {
  color: #8c8c8c;
  background-color: #111111;
}
#home-page-minimal .color-button {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
#home-page-minimal .dark-button:hover,
#home-page-minimal .color-button:hover {
  background: rgba(160, 160, 160, 0.937);
  color: black;
}
#home-page-minimal footer {
  color: var(--minimal-muted-text)
}
#home-page-minimal footer a {
  color: var(--minimal-primary-text)
}

body#dark-theme {
  background-color: #000000f9;
}
#dark-theme .weather-app-container {
  color: #8c8c8c;
  background-color: #111111f9;
}
#dark-theme .search-form-input {
  background-color: #00000091;
}
#dark-theme .search-form-button {
  color: #8c8c8c;
  background-color: #00000091;
}
#dark-theme .search-form-button:hover {
  background-color: rgba(35, 35, 35, 0.836);
}
#dark-theme main {
  border-top: 2px solid #0c0c0c;
  border-bottom: 2px solid #0c0c0c;
}
#dark-theme p {
  border-bottom: 2px solid #0c0c0c;
}
#dark-theme .forecast-weather-day {
  border-left: 2px solid #0c0c0c;
  border-right: 2px solid #0c0c0c;
}
#dark-theme .forecast-weather-temperature-high {
  color: #999898;
}
#dark-theme .themes {
  border-top: 2px solid #0c0c0c;
  color: #818181;
}
#dark-theme .theme-button {
  box-shadow: 5px 5px 5px #000000;
}
#dark-theme .minimal-button {
  background-color: var(--minimal-bg-color);
  color: #353535;
}
#dark-theme .minimal-button:hover {
  background-color: #00000091;
  color: #cbcaca;
}
#dark-theme .color-button {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
#dark-theme .color-button:hover {
  background: #00000091;
  color: #cbcaca;
}
#dark-theme footer {
  color: #767676;
}
#dark-theme footer a {
  color: #a1a1a1;
}

body#colorful-theme {
  background: linear-gradient(
    179.2deg,
    rgb(34, 34, 34) 0%,
    rgb(8, 0, 153, 0.8) 29.7%,
    rgb(118, 6, 166, 0.6) 63.4%,
    rgba(233, 0, 64, 0.4) 100.1%
  );
}
#colorful-theme .weather-app-container {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: #16125b;
}
#colorful-theme .search-form-input {
  background-color: #b8c4fc;
}
#colorful-theme .search-form-button {
  color: #f0ffff;
  background-color: #16125b;
}
#colorful-theme .search-form-button:hover {
  background-color: #9fa6d0;
  color: #16125b;
}
#colorful-theme main {
  border-top: 1px solid #a8b0dc;
  border-bottom: 1px solid #a8b0dc;
}
#colorful-theme #date {
  color: #16125be9;
}
#colorful-theme .additional-weather-details {
  color: #16125be9;
}
#colorful-theme p {
  color: #16125be9;
  border-bottom: 1px solid #a8b0dc;
}
#colorful-theme .forecast-weather-day {
  color: #16125be9;
  border-left: 1px solid #a8b0dc;
  border-right: 1px solid #a8b0dc;
}
#colorful-theme .themes {
  color: #16125be9;
  border-top: 1px solid #a8b0dc;
}
#colorful-theme .theme-button {
  box-shadow: 5px 5px 5px #7277af;
}
#colorful-theme .minimal-button {
  background-color: var(--minimal-bg-color);
  color: #4e4e4e;
}
#colorful-theme .minimal-button:hover {
  background-color: #c14498;
  color: #cbcaca;
}
#colorful-theme .dark-button {
  color: #8c8c8c;
  background-color: #111111;
}
#colorful-theme .dark-button:hover {
  background-color: #c14498;
  color: #cbcaca;
}
#colorful-theme footer {
  color: #16125be9;
}
#colorful-theme footer a {
  color: #800ea4;
}
@media (max-width: 580px) {
  .forecast-weather-day {
    padding: 0 10px;
  }
}
@media (max-width: 480px) {
  .search-form-input {
    display: block;
    margin: 0 auto;
    font-size: 12px;
  }
  .search-form-button {
    display: block;
    margin: 8px auto 0;
    font-size: 12px;
  }
  h1 {
    font-size: 26px;
  }
  .location-details {
    font-size: 18px;
  }
  .current-temp-icon {
    width: 60px;
    height: 60px;
  }
  .current-temp-value {
    top: -15px;
    font-size: 46px;
  }
  .current-temp-unit {
    top: -38px;
  }
  .additional-weather-details {
    padding-right: 0;
    padding-left: 10px;
    font-size: 14px;
  }
  .minimal-button {
    width: 38%;
  }
  .forecast-weather-day {
    padding: 0 5px;
  }
  .forecast-weather-icon {
    width: 55px;
    height: 55px;
  }
  footer {
    padding: 0 50px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 24px;
  }
  .weather-details {
    flex-direction: column;
    text-align: center;
    margin: 5px 10px;
    padding-bottom: 5px;
  }
  .location-details {
    max-width: 100%;
    font-size: 16px;
  }
  .current-temp-icon {
    width: 40px;
    height: 40px;
  }
  .current-temp-value {
    top: -10px;
    font-size: 33px;
  }
  .current-temp-unit {
    font-size: 13px;
    top: -26px;
  }
  .high-low {
    font-style: normal;
  }
  .forecast-weather-temperature-high,
  .forecast-weather-temperature-low {
    margin: 0 10px;
  }
  .additional-weather-details {
    margin-top: 10px;
  }
  p#quote {
    border-bottom: none;
    padding: 0;
  }
  p em {
    font-style: normal;
  }
  .forecast-weather-container {
    flex-direction: column;
  }
  .forecast-weather-day {
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
  }
  #home-page-minimal .forecast-weather-day {
    border: 2px solid var(--minimal-bg-color);
    box-shadow: 3px 3px 10px rgba(149, 89, 89, 0.393);
  }
  #dark-theme .forecast-weather-day {
    border: 2px solid #0c0c0c;
    color: #818181;
    box-shadow: 3px 3px 10px rgba(40, 40, 40, 0.393);
  }
  #colorful-theme .forecast-weather-day {
    border: 1px solid #a8b0dc;
    color: #16125be9;
    box-shadow: 3px 3px 10px rgba(40, 40, 40, 0.393);
  }
  .forecast-weather-temperatures {
    justify-content: center;
  }
  div.themes {
    flex-direction: column;
    padding: 10px 5px;
  }
  .theme-button {
    margin-bottom: 10px;
    width: 25%;
  }
}
